<div class="container" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
    <signature-pad accept="accept" clear="clear" height="600" width="1000" dataurl="dataurl"></signature-pad>
</div>


    <button class="btn btn-primary btn-sm" ng-click="clear()">Tisztítás</button>
    <button class="btn btn-primary btn-sm float-right" ng-click="done(id)">Rögzítés</button>

    <style>
        html, body {
          height: 100%;
          width: 100%;
          margin: 0;
          padding: 0;
        }
    
        .container {
          padding: 10px 10px 40px 10px;
          position: relative;
          margin: 0 auto 0 auto;
          height: 100%;
        }
    
        .container .signature {
          margin: 0 auto;
          cursor: pointer;
        }
    
        .container .signature canvas {
          margin: 0 auto;
          cursor: pointer;
          background-color: #25282a!important;
          border-radius: 5px;
        }
    
        .container .buttons {
          position: absolute;
          bottom: 10px;
          left: 10px;
        }
    
        .container .sizes {
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
    
        .container .sizes input {
          width: 4em;
          text-align: center;
        }
    
        .result {
          margin: 30px auto 0 auto;
          height: 220px;
          width: 568px;
        }
      </style>