<!-- Page Header -->
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="page-header-title">Munkaterületek</h1>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Page Header -->

<div class="row" ng-if="earray.length > 0">
  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5" ng-repeat="data in earray">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-subtitle mb-2">Terület neve</h6>

        <div class="row align-items-center gx-2">
          <div class="col">
            <span class="display-6 text-dark">{{ data.name }}</span>
          </div>
          <!-- End Col -->
        </div>
        <div class="float-end">
          <button type="button" ng-click="openAttendance(data.name)" class="btn btn-primary btn-sm" disableonrequest>Létrehozás</button>
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Card -->
  </div>
</div>
